<!--todo walidacja-->
<div class="all">
  <form [formGroup]="form" (ngSubmit)="save()">
    <table>
      <tr>
        <td><label for="login">Login</label></td>
        <td><input type="text" id="login" formControlName="login" autocomplete="username"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['login'].valid && form.controls['login'].touched">
            login
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="email">Email</label></td>
        <td><input type="email" id="email" formControlName="email" autocomplete="email"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
            email
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['oldPassword'].valid && form.controls['oldPassword'].touched">
            Podaj stare hasło.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="newPassword">Nowe hasło</label></td>
        <td><input type="password" id="newPassword" formControlName="newPassword" autocomplete="new-password" ></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['newPassword'].valid && form.controls['newPassword'].touched">
            Podaj nowe hasło.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="repeatPassword">Powtórz hasło</label></td>
        <td><input type="password" id="repeatPassword" formControlName="repeatPassword" autocomplete="new-password">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert"
               *ngIf="!form.controls['repeatPassword'].valid && form.controls['repeatPassword'].touched">
            Powtórz nowe hasło.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="firstName">Imię</label></td>
        <td><input type="text" id="firstName" formControlName="firstName" autocomplete="given-name"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched">
            firstName
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="lastName">Nazwisko</label></td>
        <td><input type="text" id="lastName" formControlName="lastName" autocomplete="family-name"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].touched">
            lastName
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="city">Miasto</label></td>
        <td><input type="text" id="city" formControlName="city"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['city'].valid && form.controls['city'].touched">
            city
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="bday">Data urodzenia</label></td>
        <td><input type="date" id="bday" formControlName="bday" autocomplete="bday" min="1900-01-01"
                   max="2005-12-31"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['bday'].valid && form.controls['bday'].touched">
            dateOfBirth
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <div class="buttonIn">
      <button type="submit" [disabled]="!form.valid">Zapisz zmiany</button>
    </div>
  </form>
</div>
