.opis {
  width: 80%;
  margin: auto;
  text-align: center;
}

input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

label {
  display: none;
}

.inputIn {
  width: 70%;
  margin-left: 12.5%;
}
