<div class="all">
  <div class="opis">Nie pamiętasz swojego hasła? Wpisz email podany podczas rejestracji, a&nbsp;w&nbsp;krótkim czasie otrzymasz wiadomość z&nbsp;dalszymi instrukcjami.</div>
  <div class="inputIn">
  <label for="email">Email</label>
  <input id="email" type="email" [formControl]="email" autocomplete="email">
  <div class="validationAlert" *ngIf="email.touched && !email.valid && emailOK">
    Musisz podać email.
  </div>
  <div class="validationAlert" *ngIf="!emailOK">
    Nie istnieje konto powiązane z tym emailem.
  </div>
  </div>
  <div class="buttonIn">
    <button (click)="send()" [disabled]="!email.valid">Wyślij</button>
  </div>
</div>
