<!--TODO walidacja-->
<div class="all">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <table>
      <tr>
        <td><label for="email">Email</label></td>
        <td><input type="email" id="email" formControlName="email" autocomplete="email"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
            email
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="name">Imię</label></td>
        <td><input type="text" id="name" formControlName="firstName" autocomplete="given-firstName"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['name'].valid && form.controls['name'].touched">
            firstName
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="surname">Nazwisko</label></td>
        <td><input type="text" id="surname" formControlName="lastName" autocomplete="family-firstName"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].touched">
            lastName
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="city">Miasto</label></td>
        <td><input type="text" id="city" formControlName="city"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['city'].valid && form.controls['city'].touched">
            city
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="dateOfBirth">Data urodzenia</label></td>
        <td><input type="date" id="dateOfBirth" formControlName="dateOfBirth" autocomplete="bday" min="1900-01-01"
                   max="2005-12-31"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert"
               *ngIf="!form.controls['bday'].valid && form.controls['bday'].touched">
            dateOfBirth
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <div class="buttonIn">
      <button type="submit" [disabled]="!form.valid">Dodaj nowego administratora</button>
    </div>
  </form>

<!--todo dodaj login, usuń hasło-->
