<div class="all">
  <div >
    <form [formGroup]="form" (submit)="search()">
      <table >
      <tr>
        <td><label>Szukaj:</label></td>
        <td><input type="text"></td>
      </tr>
        <tr>
          <td>
            <label>Miasto:</label>
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td><label>Kategoria:</label></td>
          <td><select>
            <option>--Wszystkie kategorie--</option>
          </select></td>
        </tr>
        <tr>
          <td> <label>Data:</label></td>
          <td><input type="date"></td>
        </tr>
      </table>
      <br/>
      <div class="buttonIn">
        <button type="submit" [disabled]="!form.valid">Szukaj</button>
      </div>
    </form>
  </div>
</div>
