.search-box{
  background: #B3D9D9;
  width: 80%;
  padding: 1em;
}

.all {
  margin-top: 3em;
  /*width: 80%;*/
}

td {
  padding: 0.5em;
}



/*a {
  color: inherit;
  font-size: small;
}

.link {
  margin-top: 1.5em;
}*/

li{
  padding: 0.5em;
}

li:hover{
  background: #B3D9D9;
  cursor: pointer;
}

li div div {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}
