<div class="all">
  <div style="background: #B3D9D9; width: fit-content;">
    <form [formGroup]="form" (submit)="search()">
      <table >
      <tr>
        <td><label>Szukaj:</label></td>
        <td><input style="width: 100%" type="text" formControlName="searchWords"></td> <!--colspan="5"-->
      </tr>
        <tr>
          <td>
            <label>Miasto:</label>
          </td>
          <td>
            <input type="text" #somethingElse autocomplete="off" formControlName="somethingElse">
          </td>
        </tr>
          <tr>
          <td><label>Kategoria:</label></td>
          <td><select formControlName="category">
            <option value="">--Wszystkie kategorie--</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select></td>
          </tr>
        <tr>
          <td> <label>Data:</label></td>
          <td><input type="date" formControlName="date"></td>
        </tr>
      </table>
      <br/>
      <div class="buttonIn">
        <button type="submit" [disabled]="!form.valid">Szukaj</button>
      </div>
    </form>
  </div>
</div>
<div class="all">
  <div *ngIf="searchDone" style="margin-top: 3em">
    <ul class="list">
      <li class="list-item" *ngFor="let activity of activities" (click)="details(activity)">
        <div><div>{{activity.name}}</div></div>
        <span style="margin-left: 1em">{{activity.city.split(' ')[0]+', '+activity.city.split(' ')[2]}}</span><div style="display: inline-block; width: 20px"></div><span class="right" style="margin-right: 1em">{{activity.date.toLocaleDateString()}}</span>
      </li>
    </ul>
  </div>
</div>
