<div class="all">
  <div style="background: #B3D9D9">
    <form [formGroup]="form" (submit)="search()">
      <table >
      <tr>
        <td><label>Szukaj:</label></td>
        <td colspan="5"><input style="width: 100%" type="text"></td>
      </tr>
        <tr>
          <td>
            <label>Miasto:</label>
          </td>
          <td>
            <input type="text">
          </td>
          <td><label>Kategoria:</label></td>
          <td><select>
            <option>--Wszystkie kategorie--</option>
          </select></td>
          <td> <label>Data:</label></td>
          <td><input type="date"></td>
        </tr>
      </table>
      <br/>
      <div class="buttonIn">
        <button type="submit" [disabled]="!form.valid">Szukaj</button>
      </div>
    </form>
  </div>

  <div *ngIf="searchDone" style="margin-top: 3em">
    <ul class="list">
      <li class="list-item" *ngFor="let activity of activities" (click)="details(activity)">
        <div><div>{{activity.name}}</div></div>
        <span style="margin-left: 1em">{{activity.city}}</span> <span class="right" style="margin-right: 1em">{{activity.date}}</span>
      </li>
    </ul>
  </div>
</div>
