<ul>
  <li>
    <a routerLink="/">
      <fa-icon [icon]="faHome"></fa-icon>
      <span style="display: none">Home</span>
    </a>
  </li>
  <li>
    <a routerLink="/search" >
      <fa-icon [icon]="faSearch"></fa-icon>
      <span style="display: none">Search</span>
    </a>
  </li>
  <li style="float: right" *ngIf="this.user.isLoggedIn()">
    <a (click)="logout()">
      <fa-icon [icon]="faPowerOff"></fa-icon>
      <span style="display: none"><br/>Logout</span>
    </a>
  </li>
  <li style="float: right">
    <a (click)="clickUser()">
      <fa-icon [icon]="faUser"></fa-icon>
      <span style="display: none"><br/>Profile</span>
    </a>
  </li>
  <li style="float: right" *ngIf="this.user.isLoggedIn()">
    <a routerLink="/profile-edit">
      <fa-icon [icon]="faCog"></fa-icon>
      <span style="display: none"><br/>Settings</span>
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
