<div class="all">
  <form [formGroup]="form" (ngSubmit)="save()">
    <table>
      <tr>
        <td><label for="login">Login</label></td>
        <td><input type="text" id="login" formControlName="login" autocomplete="username"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="validationAlert" *ngIf="!form.controls['login'].valid && form.controls['login'].touched">
            Login może zawierać tylko litery, cyfry lub znaki . _ - @
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="email">Email</label></td>
        <td><input type="email" id="email" formControlName="email" autocomplete="email"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="validationAlert" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
            Podaj poprawny adres email.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="firsName">Imię</label></td>
        <td><input type="text" id="firsName" formControlName="firstName" autocomplete="given-name"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="validationAlert" *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched">
            Imię może składać się tylko z liter.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="lastName">Nazwisko</label></td>
        <td><input type="text" id="lastName" formControlName="lastName" autocomplete="family-name"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="validationAlert" *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched">
            Nazwisko może składać się tylko z liter.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="city">Miasto</label></td>
        <td><input style="min-width: max-content" type="text" id="city" formControlName="city"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="validationAlert" *ngIf="!form.controls['city'].valid && form.controls['city'].touched">
            Miasto może składać się tylko z liter.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="bday">Data urodzenia</label></td>
        <td><input type="date" id="bday" formControlName="bday" autocomplete="bday" min="1900-01-01"
                   max="2005-12-31"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="validationAlert" *ngIf="!form.controls['bday'].valid && form.controls['bday'].touched">
            Musisz podać datę urodzenia.
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <div class="buttonIn">
      <button type="submit" [disabled]="!form.valid">Zapisz zmiany</button>
    </div>
  </form>
</div>
