<div class="all">
  <div *ngIf="this.redirected">Ta strona dostępna jest tylko dla zalogowanych użytkowników.</div>
</div>
<div class="all" style="margin-top: 2em">
  <form [formGroup]="form" (ngSubmit)="logIn()">
    <table>
      <tr>
        <td><label for="login">Login</label></td>
        <td><input type="text" id="login" formControlName="login" autocomplete="username"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['login'].valid && form.controls['login'].touched">
            Musisz podać login.
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="password">Hasło</label></td>
        <td><input type="password" id="password" formControlName="password" autocomplete="current-password"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="validationAlert" *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
            Musisz podać hasło.
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <div class="buttonIn">
      <button type="submit" [disabled]="!form.valid">Zaloguj</button>
    </div>
  </form>
  <div class="link">
    <div><a routerLink="/register">Zarejestruj się</a></div>
    <div style="margin-top: 0.5em"><a routerLink="/forgot-password">Nie pamiętasz hasła?</a></div>
  </div>

  <div *ngIf="loginOK">Zalogowano!</div>
</div>
