/*@import url('https://fonts.googleapis.com/css?family=Muli:400,700');*/

body {
  background: white;
  color: darkslategray;
  font-family: Arial, sans-serif;
  margin: 0;
}

.all {
  width: fit-content;
  max-width: 90%;
  margin: 3em auto auto;
}

label {
  font-weight: bold;
  float: right;
  margin-right: 1.5em;

}

button, input[type=submit] {
  border: 2px solid teal;
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  color: white;
  background-color: teal;
  min-width: 60px;
}

button:active, button:hover, input[type=submit]:active, input[type=submit]:hover {
  /*background: darkslategray;
  border-color: darkslategray;*/
  /*box-shadow: 2px 2px 2px lightslategray;*/
  cursor: pointer;
  box-shadow: 0 2px 10px 0 lightslategray, 0 2px 10px 0 lightslategray;

}

button:active, input[type=submit]:active {
  /*border: 2px solid teal;
  background-color: ghostwhite;
  color: teal;*/
  background: darkslategray;
  border-color: darkslategray;
}

button:disabled, input[type=submit]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

.gray-text {
  color: gray;
}

.left {
  float: left;
}

.right {
  float: right;
}

.buttonIn {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0;
}

.validationAlert {
  padding: 4px 10px;
  background-color: #B3D9D9;
  color: black;
  border-radius: 5px;
  animation: valAlert 2s;
  position: relative;
  display: inline-block;
  margin-left: 10px;
  /*margin-top: 2px;*/
}

/*.validationAlert::after{
  content: " ";
  position: absolute;
  !*top: 50%;
  right: 100%;
  margin-top: -5px;
  border: 5px solid transparent;
  border-right-color: #B3D9D9;*!
  right: 50%;
  bottom: 100%;
  border: 5px solid transparent;
  border-bottom-color: #B3D9D9;
}*/

@keyframes valAlert {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.admin-all{
  max-width: 90%;
  margin: 2em auto auto 1em;
}

.list{
  list-style-type: none;
  margin: 0;
  padding: 1em 0 0;
}

.list-item{
  display: block;
  text-decoration: none;
  border: 1px solid darkslategray;
  height: 2.5em;
}

.list-item div div{
  margin-left: 1em;
  margin-top: 0.5em;
  display: inline-block;
}

