/* temporary */
h1{
  text-align: center;
  margin-top: 20px;
}

div{
  line-height: 1.90;
  text-align: center;
}

.all{
  margin-bottom: 10em;
}

img{
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
